<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
    <div>
        <header>
            <h2>Listado de productos</h2>
        </header>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Categoria</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% productos.forEach( product => { %>
          <tbody>
            <tr>
              <th scope="row"><%= product.id %> </th>
              <td><%= product.name %></td>
              <td><%= obtenerResultado(brands, product) %> </td>
              <td><%= obtenerResultado(categories, product) %> </td>
              <td><%= product.price %> </td>
              <td><a href="/admin/products/edit/<%= product.id %>"><button type="button" class="btn-secondary">EDITAR</button></a></td>
              <td><a href="/admin/products/delete/<%= product.id %>"><button type="button" class="btn-secondary">ELIMINAR</button></a></td>
            </tr>
          </tbody>
        <% }) %>
      </table>
    </div>
    <div>
      <a type="button" class="btn btn-dark" href="/admin/products/create">Agregar Nuevo Producto</a>
    </div>
  </div>
  <%- include('../partials/scriptsBootstrap') %>
</body>
</html>



