<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <div class="container">
            <%- include('../partials/header') %>
        </div>
        <div class="container">
            <form action="" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="nombre-producto">Nombre del Producto</label>
                    <input type="text" class="form-control" name="nombreProducto" id="nombre-producto">
                </div>

                <div class="form-group">
                    <label for="marca">Marca</label>
                    <input type="text" class="form-control" name="marca" id="marca">
                </div>

                <div class="form-group">
                    <label for="categoría">Categoría</label>
                    <select class="form-control" name="categoria" id="categoria">
                        <option hidden disabled selected>Elegir Una Categoria</option>
                        <% categories.forEach( unaCategoria => { %>
                         <option value="<%= unaCategoria.id %> "> <%= unaCategoria.name %> </option>
                        <% }) %>
                      </select>
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" name="descripcion" id="" cols="30" rows="10"></textarea>
                </div>

                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" name="precio" id="precio">
                </div>

                <div class="form-group">
                    <label for="precio">Descuento</label>
                    <input type="number" class="form-control" name="descuento" id="precio">
                </div>

                <!-- FALTA INSERTAR IMAGEN -->
                <div class="form-group">
                    <label for="exampleFormControlFile1"></label>
                    <input type="file" name="imagen-producto" class="form-control-file" id="Subirarchivo" accept="image/x-png,image/gif,image/jpeg">
                </div>

                <button type="submit" class="btn btn-primary mb-2">Registrar Producto</button>

            </form>
        </div>

        <%- include('../partials/scriptsBootstrap') %>
    </body>
</html>
