<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <div class="container">
      <%- include('./partials/header') %>
      <%- include('./partials/carousel') %>

      <!-- Lógica para Mostrar los diferentes Productos -->

      <%- include('./partials/footer') %>
    </div>
    <%- include('./partials/scriptsBootstrap') %>
  </body>
</html>
