<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

<body>
  <div class="container-fluid">
    <%- include('./partials/header') %>
    <br>
    <br>
    <!-- Detallar el producto HAY Q CENTRAR EL DIV DE ABAJO CON CLASE ROW -->
    <div id="producto-detalle" class="row">  
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card m-auto" style="width: 18rem;">
          <img src="/images/products/<%= producto.image %>" class="card-img-top" alt="...">
        </div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <br>
        <br>
        <h3 class="titulo font-weight-bold"><%= producto. name %></h3>
        <h6 class="contenido"> <%= producto.description %> </h6>
        <h5 class="price font-weight-bold"> $<%= producto.price %></h5>
        <br>
        <br>
        <br>
        <a href="" class="btn btn-block btn-primary agregar-carrito"><i class="fas fa-cart-plus"></i> Agregar
          al carrito</a>
        
      </div>
    </div>
    
  </div>
  <%- include('./partials/footer') %>
  <%- include('./partials/scriptsBootstrap') %>
</body>

</html>

