<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <div class="container containerproducts">
      <%- include('./partials/header') %>
      <% if(listadoProductos.length == 0) {%>
        <div class="alert alert-danger text-center" role="alert">
          <% errors.forEach(error => {%>
          <h5><%- error.msg %></h5>
          <% })%>
        </div>
        <button class="btn"><a href="/">Volver al Inicio</a></button>
        <% } %>
      <!-- Lógica para Mostrar los diferentes Productos -->
      <div class="row" id="lista-productos">
        <% listadoProductos.forEach(producto => { %>
          <article class=" col-sm-12 col-md-6 col-lg-4 col-xl-4 nav-item card">
            <div class="photo-container">
              <img class="card-img-top" src="/images/products/<%= producto.image %>" alt="Imagen del Producto">
            </div>
            <div class="card-body">
              <h2 class="card-title font-weight-bold"> <%= producto.name %> </h2>
              <h3 class="precio"> <span> $<%= producto.price %> </span></h3>
              <p class="card-text"> <%= producto.description %> </p>
              <a class="btn btn-secondary" href="/products/detail/<%= producto.id %>">Ver más</a>
              <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="<%= producto.id %>">Comprar</a>
            </div>
          </article>
        <% }) %>
      </div>
      <%- include('./partials/footer') %>
    </div>
    <%- include('./partials/scriptsBootstrap') %>
  </body>
</html>